:root {
	--red-accent:  rgb(185, 37, 37);
	--salmon-accent: rgb(212, 82, 82);
	--minty-green: rgb(143, 203, 155);
	--clear-sky-blue: rgb(105,210,231);
}

html, body {
    height: 100%;
}

body {
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 24px;
	line-height: 1.25;
	font-family: 'Noto Serif', serif;
}
h1, h2 {
	color: var(--red-accent);
	font-family: 'Lora', serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    margin: 0;
    margin-top: .1em;
}

.input-box {
	display: flex;
	padding: 10px;
	flex-flow: row wrap;
	align-items: baseline;
}

/* Input field */
.expr-input {
	margin: 0.1em 0 0 0;
	padding: 0.5em 1em;
	border-radius: 30px;
	flex: 3 1 auto;
	border: 1px solid black;
	background: none;
	color: rgb(0, 0, 0);
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	opacity: 0.5;
}

.expr-input:hover, .expr-input:focus {
	opacity: 1.0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

.btn-eval {
	float: left;
	margin-left: 5px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 80%;
	text-align: center;
	color: rgba(255,255,255, 1);
	width: 20%;
	height: 35px;
	border: none;
	border-radius: 20px;
	margin-top: 23px;
	background-color: rgba(16,89,255, 1);
	left: 0px;
	top: 0px;
}

.btn-eval:hover {
	cursor: pointer; 
	background-color: #0F4FE6;
    transition: background-color .5s; 
}

label.red {
    font-family: 'Fira Sans', sans-serif;
    color: var(--red-accent);
	background: none;
}

#expression_value {
	font-family: 'Fira Sans', sans-serif;
	text-align: right;
    color:rgb(0, 0, 0);
}

.result-box {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.expr-output {
	flex: 3;
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid var(--red-accent);
	border-radius: 20px;
	margin-bottom: 20px;
	background: rgba(255,255,255,.2);
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
}

.expr-output:hover {
	border: 1px solid var(--salmon-accent);
}

.left-label {
	margin-right: 5px;
}

.mono {
    font-family: 'Fira Sans', sans-serif;
    background: none;
    color:rgb(0, 0, 0);
}


article {
	display: grid;
	grid-template-columns: 1fr 0.5in [start] 8.5in [end] 0.5in 1fr;
	min-height: 90%;
}

article * {
	grid-column: start / end;
}

/* Adjust article form for smaller screens */

@media (max-width: 9.5in) {
	article {
		grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;
	}
}

header, footer {
    flex-shrink: 0;
}

footer {
	padding: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: medium;
	text-align: center;
}